frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

backend/*.swp
backend/package-lock.json
backend/__pycache__
backend/.pytest_cache
backend/.env
backend/*.egg-info
backend/.cdk.staging
backend/cdk.out

.idea/
*.pyc