website/node_modules
website/.pnp
website/.pnp.js
website/coverage
website/build
website/.DS_Store
website/.env.local
website/.env.development.local
website/.env.test.local
website/.env.production.local
website/npm-debug.log*
website/yarn-debug.log*
website/yarn-error.log*

aws/*.swp
aws/package-lock.json
aws/__pycache__
aws/.pytest_cache
aws/.env
aws/*.egg-info
aws/.cdk.staging
aws/cdk.out

.idea/