body {
  font-family: 'Courier New', monospace;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  color: white;
}

#imageContainer {
  margin: 0 auto;
  padding-top: 200px;
  width: 400px;
  height: 128px;
}

#form {
  margin: 0 auto;
  padding-top: 10px;
}

#input {
  width: 292px;
}

#button {
  width: 100px;
}

img {
  border: 1px solid black;
  width: 126px;
  height: 126px;
}

.grid {
  display: grid;
  text-align: center;
  row-gap: 10px;
  column-gap: 10px;
}
